@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body
{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-content: center;
    font-family: 'Roboto Medium', sans-serif;
    background: #eee;
}

.header h1
{
    text-align: center;
    font-family: "Roboto Black", sans-serif;
}

.content
{
    margin: clamp(2rem, 7vh + 1rem, 15vh);
    flex-grow: 5;
    border-radius: 15pt;
    overflow: hidden;
    box-shadow: 10px 10px 25px #cecece,
    -15px -15px 30px #ffffff;

}

.list {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: space-around;
    gap: 2rem;
    height: 100%;
    padding: 0.5rem;
}

.list:last-child
{
    margin-bottom: 4rem;
}

.movie
{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    transition: .15s;
}

.footer
{
    text-align: end;
    font-family: 'Roboto Light', sans-serif;
    position:absolute;
    bottom: 0;
    right: 0;
}

a
{
    color: black;
    text-decoration: none;
}
.movie img,.movie
{
    width: 200px;
}
.movie:hover
{
    background-color: #75b1ff;
}
.movie:active
{
    background-color: #0c214a;
    color: white;
}
.movie-description
{
    display: flex;
    gap: 2rem;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}
.text
{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.text__header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.people-list__people
{
    display: flex;
    gap: 2rem;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    transition: .15s;
}
.people-list
{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    width: 100%;
}
.people-list__people:hover
{
    background-color: #75b1ff;
}
.people-list__people:active
{
    background-color: #0c214a;
    color: white;
}
.people-description
{
    display: flex;
    gap: 2rem;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}
.movie-list
{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    width: 100%;
}
.movie-list__movie:hover
{
    background-color: #75b1ff;
}
.movie-list__movie:active
{
    background-color: #0c214a;
    color: white;
}
.movie-list__movie
{
    display: flex;
    gap: 2rem;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    transition: .15s;
}

.people-description img, .movie-description img
{
    min-width: 300px;
}
